---
---

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Arapey);

// add bootstrap variable settings here
$font-family-serif:       'Merriweather', serif !default;
$font-family-sans-serif:  'Merriweather', serif !default;

@import 'bootstrap';

// add more css stuff here

#nav.affix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030;
}

.navbar-nav > li {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin-left: 30px;
  margin-right: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

body {
  padding-top: 70px;
}

#header {
  height: 400px;
}

#header img {
  height: 380px;
}

.anchor {
  padding-top: 120px;
  margin-top: -120px;
  display: inline-block;
  height: 1px;
}

section {
  margin-bottom: 2.666em;
  padding-bottom: 1.333em;
  border-bottom: thin solid #f3f3f3;
}

.accommodation {
  .list-group-item {
      border: inherit;
      margin-bottom: 1.333em;
      padding-bottom: 1.333em;
      border-bottom: thin solid #f3f3f3;
  }

  .list-group-item-heading a {
    margin-top: 5px;
  }
}

.navbar-default {
  background-color: white;
  border: inherit;
  border-bottom: thin solid #f3f3f3;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
