---
---

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300);
@import url(http://fonts.googleapis.com/css?family=Arapey);

// add bootstrap variable settings here
$brand-primary: darken(#aa6644, 6.5%);
$font-family-serif:       'Merriweather', serif !default;
$font-family-sans-serif:  'Merriweather', serif !default;

@import 'bootstrap';

// add more css stuff here

.navbar-nav > li {
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

body {
  padding-top: 50px;
}

.header {
  padding-top: 20px;
}

.anchor {
  padding-top: 120px;
  margin-top: -120px;
  display: inline-block;
  height: 1px;
}

section {
  margin-bottom: 2.666em;
  padding-bottom: 1.333em;
  border-bottom: thin solid #f3f3f3;
}

.section-header {
  text-align: center;
  margin-bottom: 0.666em;
  padding-bottom: 0.333em;
}

.accommodation {
  .list-group-item {
      border: inherit;
      margin-bottom: 1.333em;
      padding-bottom: 1.333em;
      border-bottom: thin solid #f3f3f3;
  }

  .list-group-item-heading a {
    margin-top: 5px;
  }
}

.navbar-default {
  background-color: white;
  border: inherit;
  border-bottom: thin solid #f3f3f3;
}

.wedding-event-image {
  padding-top: 20px;
}

.wedding-event-date, .wedding-event-address, .wedding-event-attire, .wedding-event-description {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.75;
}

@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 600px;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
} 
