---
---

@import url(http://fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300);

// add bootstrap variable settings here
$font-family-serif:       'Merriweather', serif;
$font-family-sans-serif:  'Merriweather', serif;
$brand-primary:  black;

@import 'bootstrap';


// add more css stuff here

body {
  padding-top: 50px;
}

.content {
  padding: 40px 15px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}