<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>{{ site.title }}</title>

   <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" >

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
   <script src="{{ site.baseurl }}/js/holder.min.js"></script>
</head>
<body>
  <div class="container">
    {% if page.header %}
    <div class="row header">
      <img src="{{ site.baseurl }}/images/header.png" class="center-block img-responsive" alt="Becky and Luke">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-header">
          <h2>Becky &amp; Luke<br><small><em>August 10, 2015 - Chatham, MA</em></small></h2>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default">
    {% else %}
    <nav class="navbar navbar-default navbar-fixed-top">
    {% endif %}
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand visible-xs" href="#">{{ site.title }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">The Wedding <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ site.baseurl }}/wedding/#ceremony">Ceremony &amp; Reception</a></li>
                <li><a href="{{ site.baseurl }}/wedding/#other-events">Other Events</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Details <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ site.baseurl }}/travel/#accommodation">Accommodation</a></li>
                <li><a href="{{ site.baseurl }}/travel/#travel">Travel options</a></li>
                <li><a href="{{ site.baseurl }}/travel/#todo">Things to do</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}/contact/#contact"><span class="text-uppercase">Contact</span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>

    {{ content }}
  </div>
</body>
</html>
